{% extends 'blog/base.html' %}
{% load my_tags %}
{% block content %}


<div class="col-md-10">

    <div class="card mb-10 box-shadow">
        <img class="card-img-top"
             src={% mediapath object.image %}
             alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Название: {{ object|title }}</p>
            <p class="card-text">Slug: {{ object.slug }}</p>
            <p class="card-text">Сообщение: {{ object.message }}</p>
            <p class="card-text">Дата создания: {{ object.date_of }}</p>
            <p class="card-text">Опубликовано:
                {% if object.is_active %}
                ДА
                {% else %}
                НЕТ
                {% endif %}
                </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary">Автор</a>
                </div>
                <small class="text-muted">Просмотров: {{ object.views_count }}</small>
            </div>
        </div>
    </div>
</div>

{% endblock %}