{% extends 'blog/base.html' %}
{% block content %}
<form method="post" class="row">
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    Удалить блог {{ object }} ?
                </h4>
            </div>
            <div class="card-body">
                {% csrf_token %}

                <button type="submit" class="btn btn-outline-danger">
                    Удалить
                </button>
                <a href="{% url 'blog:detail' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">
                    Отмена
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock %}