{% extends 'catalog/base.html' %}
{% block content %}

<div id="content-start" class="content" tabindex="-1">


    <!-- Content -->
    <div id="content" class="colM">

        <h1>Добавить Продукт</h1>

        <div id="content-main">


            <form enctype="multipart/form-data" method="post" id="product_form" novalidate><input type="hidden"
                                                                                                  name="csrfmiddlewaretoken"
                                                                                                  value="36oQCGWCzNnkdaoHbFY4vX0A1orLLoKfk4bKgBDDka0OuAYbLOnFXtobRsa8wGGA">
                <div>


                    <fieldset class="module aligned ">


                        <div class="form-row field-name">


                            <div>

                                <div class="flex-container">

                                    <label class="required" for="id_name">Наименование:</label>

                                    <input type="text" name="name" class="vTextField" maxlength="50" placeholder="Наименование" required
                                           id="id_name">


                                </div>

                            </div>


                        </div>

                        <div class="form-row field-description">


                            <div>

                                <div class="flex-container">

                                    <label for="id_description">Описание:</label>

                                    <textarea name="description" cols="40" rows="10" class="vLargeTextField"
                                              id="id_description">
</textarea>


                                </div>

                            </div>


                        </div>

                        <div class="form-row field-image">


                            <div>

                                <div class="flex-container">

                                    <label for="id_image">Изображение:</label>

                                    <input type="file" name="image" accept="image/*" id="id_image">


                                </div>

                            </div>


                        </div>

                        <div class="form-row field-category">


                            <div>

                                <div class="flex-container">

                                    <label class="required" for="id_category">Категория:</label>

                                    <div class="related-widget-wrapper" data-model-ref="Категория">
                                        <select name="category" required id="id_category">
                                            <option value="" selected>---------</option>

                                            <option value="1">Vegetables</option>

                                            <option value="2">Fruits</option>

                                            <option value="3">Grain</option>

                                        </select>

                                        <a class="related-widget-wrapper-link change-related" id="change_id_category"
                                           data-href-template="/admin/catalog/category/__fk__/change/?_to_field=id&amp;_popup=1"
                                           data-popup="yes"
                                           title="Изменить выбранный объект типа " Категория""><img
                                            src="/static/admin/img/icon-changelink.svg" alt="Изменить"></a><a
                                            class="related-widget-wrapper-link add-related" id="add_id_category"
                                            data-popup="yes"
                                            href="/admin/catalog/category/add/?_to_field=id&amp;_popup=1"
                                            title="Добавить ещё один объект типа " Категория""><img
                                            src="/static/admin/img/icon-addlink.svg" alt="Добавить"></a><a
                                            class="related-widget-wrapper-link view-related" id="view_id_category"
                                            data-href-template="/admin/catalog/category/__fk__/change/?_to_field=id"
                                            title="Просмотреть выбранный объект типа " Категория""><img
                                            src="/static/admin/img/icon-viewlink.svg" alt="Просмотреть"></a>

                                    </div>


                                </div>

                            </div>


                        </div>

                        <div class="form-row field-price">


                            <div>

                                <div class="flex-container">

                                    <label for="id_price">Цена:</label>

                                    <input type="number" name="price" class="vIntegerField" id="id_price" placeholder="Цена" required>


                                </div>

                            </div>


                        </div>

                    </fieldset>


                    <div class="submit-row">

                        <input type="submit" value="Сохранить" class="default" name="_save">

                        <input type="submit" value="Сохранить и добавить другой объект" name="_addanother">
                        <input type="submit" value="Сохранить и продолжить редактирование" name="_continue">


                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
