{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Создать продукт</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name">Имя</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Название продукта"
                           required>
                </div>
                <div class="mb-3">
                    <label for="description">Описание</label>
                    <input type="text" name="description" class="form-control" id="description" placeholder="Описание продукта"
                           required>
                </div>
                <div class="mb-3">
                    <label for="description">Фото</label>
                    <input type="text" name="image" class="form-control" id="image" placeholder="Фото продукта"
                           required>
                </div>
                <div class="mb-3">
                    <label for="description">Цена</label>
                    <input type="text" name="price" class="form-control" id="price" placeholder="Цена"
                           required>
                </div>
                <div class="mb-3">
                    <label for="description">Категория</label>
                    <input type="text" name="category" class="form-control" id="category" placeholder="Категория продукта"
                           required>
                </div>
                <input type="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}